@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&family=Roboto:wght@100;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #2797ba;
}

section {
  padding: 5rem 10%;
}

.titulo {
  font-size: 3rem;
  color: #444;
  margin-bottom: 3rem;
  padding-left: 1rem;
  border-left: 1rem solid #2797ba;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #2797ba;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
}

.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  color: #444;
  color: #fff;
}

.header .navbar a:hover {
  font-size: 2.1rem;
  color: #444;
  color: #001a3e;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #001a3e;
}

.header .icons div:hover {
  color: #001a3e;
}

.header #menu-btn {
  display: none;
  color: #fff;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: red;
  font-size: 1.7rem;
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-radius: 2rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: transparent;
  border-color: red;
  border: 1px solid red;
  color: red;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15rem;
  background: url(../assets/home-background.png) no-repeat;
  background-size: 100vw 80vh;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 0 2.5rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.home .content .text-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .content .text-top h1 {
  font-size: 2.2rem;
  color: #444;
  margin-right: 1rem;
}

.home .content .text-top #icon {
  font-size: 2.5rem;
  color: #444;
}

.home .content .text-top .text-top-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .content .text-desc h3 {
  font-size: 3.5rem;
  color: #444;
  padding: 2rem 0;
  text-transform: none;
}

.home .content .text-desc p {
  font-size: 1.6rem;
  line-height: 2;
  color: #001a3e;
  padding: 2rem 0;
  text-transform: none;
}

.home .content .btn {
  width: 20rem;
}

.diferencial {
  width: 100%;
  height: 10rem;
  padding: 5rem 10%;
  border-bottom: 2px solid #2797ba;
}

.diferencial .card-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem 2rem 3rem;
  border-left: 1rem solid #2797ba;
  -webkit-box-shadow: 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: -4.2%;
}

.diferencial .card-desc .card-title {
  font-size: 1.7rem;
}

.diferencial .card-desc .cardlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.diferencial .card-desc .cardlist .item-lista {
  padding: 0 1.5rem;
}

.diferencial .card-desc .cardlist .item-lista i {
  color: #2797ba;
  font-size: 2.7rem;
}

.diferencial .card-desc .cardlist .item-lista h1 {
  font-size: 1.7rem;
  color: #444;
}

.diferencial .card-desc .cardlist .item-lista p {
  font-size: 1.4rem;
  color: #001a3e;
}

.chamariz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15rem;
  margin-top: 5rem;
}

.chamariz .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 0 2.5rem;
}

.chamariz .image img {
  width: 100%;
}

.chamariz .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.chamariz .content h3 {
  font-size: 2.4rem;
  color: #444;
  padding: 1.5rem 0;
}

.chamariz .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: #001a3e;
  padding: 1.5rem 0;
}

.chamariz .content .preco {
  font-size: 7rem;
}

.chamariz .btn {
  width: 50%;
}

.servicos .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.servicos .box-container #box-img {
  color: #2797ba;
  font-size: 3.5rem;
  padding-right: 1rem;
}

.servicos .box-container .box {
  padding: 3rem;
  border: 2px solid #2797ba;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.servicos .box-container .box:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.servicos .box-container .box h3 {
  font-size: 1.7rem;
  color: #444;
  padding: 2rem 0;
}

.servicos .box-container .box p {
  font-size: 1.4rem;
  line-height: 2;
  color: #001a3e;
}

.depoimentos {
  position: relative;
}

.depoimentos .box-depoimento .box {
  width: 35rem;
  height: 35rem;
  border: 2px solid #2797ba;
  padding: 3rem;
}

.depoimentos .box-depoimento .box i {
  position: absolute;
  font-size: 5.2rem;
  color: #2797ba;
  right: 2rem;
  bottom: 1.7rem;
}

.depoimentos .box-depoimento .box h1 {
  padding: 2rem 0;
  font-size: 1.7rem;
  color: #444;
}

.depoimentos .box-depoimento .box p {
  font-size: 1.1rem;
  line-height: 2;
  color: #001a3e;
}

.produtos .prod-titulo {
  font-size: 1.7rem;
  color: #444;
}

.produtos .box-produtos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
  padding-top: 4rem;
}

.produtos .box-produtos .prod-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.produtos .box-produtos .prod-content h2 {
  font-size: 2.7rem;
  padding-right: 1rem;
  color: green;
}

.produtos .box-produtos .prod-content h1 {
  font-size: 1.6rem;
  line-height: 2;
  color: #001a3e;
}

.chama2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15rem;
  margin-top: 5rem;
}

.chama2 .chama2-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 0 2.5rem;
}

.chama2 .chama2-img img {
  width: 100%;
}

.chama2 .chama-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.chama2 .chama-content h1 {
  font-size: 2.4rem;
  color: #444;
  text-transform: none;
}

.chama2 .chama-content h3 {
  font-size: 7rem;
  color: #444;
  padding-bottom: 2rem;
}

.chama2 .btn {
  width: 70%;
}

.footer {
  background-color: #2797ba;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container h3 {
  font-size: 2.2rem;
  color: #444;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .share {
  margin-top: 1rem;
}

.footer .box-container .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  margin-right: 3rem;
  text-align: center;
}

.footer .box-container .share a:hover {
  font-size: 1.8rem;
  color: #001a3e;
}

.footer .box-container .link {
  font-size: 1.5rem;
  line-height: 2;
  color: #001a3e;
  color: #fff;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .link:hover {
  text-decoration: underline;
}

.footer .box-container p {
  font-size: 1.5rem;
  line-height: 2;
  color: #001a3e;
  color: #fff;
  padding: 1rem 0;
}

.footer .creditos {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 1.7rem;
  color: #444;
  color: #fff;
  border-top: 0.2rem solid #fff;
}

.footer .creditos span {
  color: #001a3e;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .depoimentos .box-depoimento .box p {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #2797ba;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5rem;
  }
  .card-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-desc .card-title {
    width: 100%;
    text-align: center;
  }
  .chamariz {
    gap: 0rem;
    margin-top: 15rem;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
  .chama2 {
    gap: 5rem;
    margin-top: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .chamariz {
    gap: 0rem;
    margin-top: 25rem;
  }
}
/*# sourceMappingURL=styles.css.map */